            <!DOCTYPE html>
            <html>
                <head>

                </head>
                <body>
                    <div style = "display: flex; align-items: center; justify-content:
                    center; flex-direction: column">

                        <h3>Account Verification </h3>
                        <br>

                        <p> Спасибо за регистрацию в Lighthouse.
                        Нажмите на кнопку ниже, для верификации вашего аакаунта. </p>

                        <a style="marign-top: 1rem; padding: 1rem; border-radius: 0.5rem;
                        font-size: 1rem; text-decoration: none; background: #0275d8; color:
                        white;" href="http://localhost:8000/auth/verification/?token={{token}}">
                        Верифицируйте Ваш e-mail!
                        </a>

                        <p> Пожалуйста игнорируйте этот e-mail если вы не регистрировались на сайте  "TestFastAPI". </p>

                    </div>
                </body>
            </html>